@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@layer base {
  body {
    font-family: "Lora", serif;
    font-size: 20px;
    line-height: 1.7;
    letter-spacing: 0.02em;
  }

  h1 {
    font-size: 62px;
    font-weight: 300;
    line-height: 1.2;
  }

  h2 {
    font-size: 48px;
    font-weight: 300;
    line-height: 1.3;
  }

  h3 {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.4;
  }

  h4 {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.4;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
  }

  h6 {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
  }
}